.chatbot-window-input-field-div {
  height: 64px;
  border-top: solid grey 1px;
  display: flex;
  padding: 0px 12px;

  input {
    flex: 1;
    padding: 24px 0;
    border: none;
    outline: none;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
  }

  .send-btn-icon {
    cursor: not-allowed;
    color: rgba(0, 140, 255, 0.5);
    border-radius: 50%;
    padding: 6px;
    transition: all linear 224ms;
  }

  .send-btn-icon-bordered {
    cursor: pointer;
    color: rgb(0, 140, 255);
    box-shadow: rgba(18, 76, 163, 0.8) 0px 0px 0px 3px;
  }
}
